" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'vim-matchit'

set scrolloff=10

" Maintain visual selection after indentation
vnoremap < <gv
vnoremap > >gv

" Pane navigation
nnoremap <C-j> <C-w><C-j>
nnoremap <C-k> <C-w><C-k>
nnoremap <C-l> <C-w><C-l>
nnoremap <C-h> <C-w><C-h>
