" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


set scrolloff=15
set clipboard+=unnamed
set surround

let mapleader = " "

Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'vim-matchit

inoremap jk <Esc>

" Maintain visual selection after indentation
vnoremap < <gv
vnoremap > >gv

" Pane navigation
nnoremap <C-j> <C-w><C-j>
nnoremap <C-k> <C-w><C-k>
nnoremap <C-l> <C-w><C-l>
nnoremap <C-h> <C-w><C-h>

" Open NERDTree
map <leader>x :NERDTreeToggle<CR>
